

        {%if data:%}
        {%for x in data:%}
        {% set valor1 = x.ReportPayment.value | int %}
        {% set valor2 = x.ReportPayment.amount | int %}
        <tr>
          <td><input name="{{x.ReportPayment.id}}" type="checkbox"></td>
          
          <td>{{x.ReportPayment.date}}</td>
          <td>{{x[2].name_bank}}</td>
          <td>{{x[2].agency}}</td>
          <td>{{x[2].number_account }}</td>
          <td>
            <a href="{{url_for('shareholder.view', id=x[1].id )}}">
              
              {{x[1].code}}
            </a>
          </td>

          <td>{{x[1].name}}</td>
          <td>{{x[0].amount}}</td>
          <td>R$ {{valor1*valor2}}</td>
            {%if x.User.income_tax == "S":%}
            <td>R$ {{ tribute(valor1*valor2,dtribute)}}</td>
            {%else:%}
            <td>R$ {{valor1*valor2}}</td>

            {%endif%}
          <td>{{x[0].status}}</td>
        </tr>
        {%endfor%}
        {%endif%}